@font-face {
    font-family: 'TTCommons Regular';
    src: url(../TT\ Commons\ Regular.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TTCommons ExtraLight';
    src: url(../TT\ Commons\ ExtraLight.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

.logo {
    position: absolute;
    width: 29.25rem;
    height: 7.5rem;
    margin-right: 87rem;
    margin-top: 3.5rem;
}

.navbar {
    display: flex;
    list-style: none;
    margin-left: 74rem;
}

.navbar li {
    margin-left: 3rem;
}

.videoaula_bt {
    font-size: 1rem;
    padding-inline: 0.7rem;
    padding-block: 0.3rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.185rem;
    border-color: var(--white);
    background-color: var(--black);
    color: var(--white);
}

.jogo_bt {
    font-size: 1rem;
    padding-inline: 2.2rem;
    padding-block: 0.3rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.185rem;
    border-color: var(--white);
    background-color: var(--black);
    color: var(--white);
}

.contato_bt {
    font-size: 1rem;
    padding-inline: 1.3rem;
    padding-block: 0.3rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.185rem;
    border-color: var(--white);
    background-color: var(--black);
    color: var(--white);
}

.sobre_bt {
    font-size: 1rem;
    padding-inline: 1.9rem;
    padding-block: 0.3rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.185rem;
    border-color: var(--white);
    background-color: var(--white);
    color: var(--black);
}

.titulo_sobre{
    background: url(../images/image.png);
    background-size: 100%;
    background-repeat: none;
    height: 24rem;
}

.texto_sobre {
    font-family: 'TTCommons ExtraLight';
    color: var(--gray);
    text-align: center;
    padding-top: 2rem;
    font-size: 1.625rem;
}

.logo_unasp {
    width: 20rem;
    position: absolute;
    padding-inline: 50rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.info_sobre {
    font-size: 1.2375rem;
    font-family: 'TTCommons ExtraLight';
    text-align: center;
    padding-top: 15rem;
}